In [174]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [84]:
df = pd.read_csv("../data/ad_table.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268255 entries, 0 to 268254
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         268255 non-null  object
 1   Genmodel      268255 non-null  object
 2   Genmodel_ID   268255 non-null  object
 3   Adv_ID        268255 non-null  object
 4   Adv_year      268255 non-null  int64
 5   Adv_month     268255 non-null  int64
 6   Color         246380 non-null  object
 7   Reg_year      268248 non-null  float64
 8   Bodytype      267301 non-null  object
 9   Runned_Miles  267200 non-null  object
 10  Engin_size    266191 non-null  object
 11  Gearbox       268088 non-null  object
 12  Fuel_type     267846 non-null  object
 13  Price         267110 non-null  float64
 14  Engine_power  236444 non-null  float64
 15  Annual_Tax    221580 non-null  object
 16  Wheelbase     240257 non-null  float64
 17  Height        240454 non-null  float64
 18  Width         240175 non-null  float64
 19  Length        240454 non-null  float64
 20  Average_mpg   226322 non-null  object
 21  Top_speed     224653 non-null  object
 22  Seat_num      261781 non-null  float64
 23  Door_num      263702 non-null  float64
dtypes: float64(9), int64(2), object(13)
memory usage: 49.1+ MB

In [85]:
df.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,...,400.0,315,3116.0,1515.0,2125.0,5390.0,14.7 mpg,155 mph,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0

In [86]:
df = df.drop(["Adv_ID"], axis=1)

In [87]:
df.columns

Index(['Maker', 'Genmodel', 'Genmodel_ID', 'Adv_year', 'Adv_month', 'Color',
       'Reg_year', 'Bodytype', 'Runned_Miles', 'Engin_size', 'Gearbox',
       'Fuel_type', 'Price', 'Engine_power', 'Annual_Tax', 'Wheelbase',
       'Height', 'Width', 'Length', 'Average_mpg', 'Top_speed', 'Seat_num',
       'Door_num'],
      dtype='object')

## Analize variables

In [88]:
df.isna().sum()

Maker               0
Genmodel            0
Genmodel_ID         0
Adv_year            0
Adv_month           0
Color           21875
Reg_year            7
Bodytype          954
Runned_Miles     1055
Engin_size       2064
Gearbox           167
Fuel_type         409
Price            1145
Engine_power    31811
Annual_Tax      46675
Wheelbase       27998
Height          27801
Width           28080
Length          27801
Average_mpg     41933
Top_speed       43602
Seat_num         6474
Door_num         4553
dtype: int64

#### Missing Value Percentage Function

In [89]:
df.apply(lambda x: print(f"Missing value percentage of {x.name} column is: {(x.isna().sum() / len(x)) * 100:.4f}%"))

Missing value percentage of Maker column is: 0.0000%
Missing value percentage of Genmodel column is: 0.0000%
Missing value percentage of Genmodel_ID column is: 0.0000%
Missing value percentage of Adv_year column is: 0.0000%
Missing value percentage of Adv_month column is: 0.0000%
Missing value percentage of Color column is: 8.1546%
Missing value percentage of Reg_year column is: 0.0026%
Missing value percentage of Bodytype column is: 0.3556%
Missing value percentage of Runned_Miles column is: 0.3933%
Missing value percentage of Engin_size column is: 0.7694%
Missing value percentage of Gearbox column is: 0.0623%
Missing value percentage of Fuel_type column is: 0.1525%
Missing value percentage of Price column is: 0.4268%
Missing value percentage of Engine_power column is: 11.8585%
Missing value percentage of Annual_Tax column is: 17.3995%
Missing value percentage of Wheelbase column is: 10.4371%
Missing value percentage of Height column is: 10.3636%
Missing value percentage of Width column is: 10.4677%
Missing value percentage of Length column is: 10.3636%
Missing value percentage of Average_mpg column is: 15.6318%
Missing value percentage of Top_speed column is: 16.2539%
Missing value percentage of Seat_num column is: 2.4134%
Missing value percentage of Door_num column is: 1.6973%

Maker           None
Genmodel        None
Genmodel_ID     None
Adv_year        None
Adv_month       None
Color           None
Reg_year        None
Bodytype        None
Runned_Miles    None
Engin_size      None
Gearbox         None
Fuel_type       None
Price           None
Engine_power    None
Annual_Tax      None
Wheelbase       None
Height          None
Width           None
Length          None
Average_mpg     None
Top_speed       None
Seat_num        None
Door_num        None
dtype: object

### Color

In [90]:
df["Color"] = df["Color"].fillna("unknown")

In [91]:
df["Color"].isna().sum()

0

### Remove rows with less than 5% of missing values

In [92]:
def remove_rows_with_few_missing_values(df):
    missing_percentage = df.isnull().mean() * 100
    columns_with_few_missing = missing_percentage[missing_percentage < 5].index
    df_cleaned = df.dropna(subset=columns_with_few_missing)
    
    return df_cleaned

In [93]:
df_cleaned = remove_rows_with_few_missing_values(df)
df_cleaned

,Maker,Genmodel,Genmodel_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,10_1,2018,4,Silver,2000.0,Saloon,60000,6.8L,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
1,Bentley,Arnage,10_1,2018,6,Grey,2002.0,Saloon,44000,6.8L,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
2,Bentley,Arnage,10_1,2017,11,Blue,2002.0,Saloon,55000,6.8L,...,400.0,315,3116.0,1515.0,2125.0,5390.0,14.7 mpg,155 mph,5.0,4.0
3,Bentley,Arnage,10_1,2018,4,Green,2003.0,Saloon,14000,6.8L,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
4,Bentley,Arnage,10_1,2017,11,Grey,2003.0,Saloon,61652,6.8L,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268245,Volvo,V50,96_9,2018,7,Grey,2008.0,Estate,140000,2.0L,...,136.0,195,2640.0,1457.0,1770.0,4522.0,48.7 mpg,127 mph,5.0,5.0
268246,Volvo,V50,96_9,2018,8,Blue,2007.0,Estate,158000,2.4L,...,180.0,250,2640.0,1457.0,1770.0,4522.0,40.4 mpg,137 mph,5.0,5.0
268247,Volvo,V50,96_9,2018,5,Silver,2009.0,Estate,94000,2.4L,...,178.0,250,2640.0,1457.0,1770.0,4522.0,40.4 mpg,137 mph,5.0,5.0
268248,Volvo,V50,96_9,2018,5,Silver,2004.0,Estate,111000,2.4L,...,170.0,315,2640.0,1452.0,1770.0,4514.0,31.0 mpg,134 mph,5.0,5.0
268249,Volvo,V50,96_9,2018,1,Blue,2009.0,Estate,107000,2.0L,...,136.0,195,2640.0,1452.0,1770.0,4514.0,49.6 mpg,130 mph,5.0,5.0

In [94]:
df_cleaned.isnull().sum()

Maker               0
Genmodel            0
Genmodel_ID         0
Adv_year            0
Adv_month           0
Color               0
Reg_year            0
Bodytype            0
Runned_Miles        0
Engin_size          0
Gearbox             0
Fuel_type           0
Price               0
Engine_power    24025
Annual_Tax      38951
Wheelbase       20628
Height          20442
Width           20719
Length          20442
Average_mpg     32462
Top_speed       34467
Seat_num            0
Door_num            0
dtype: int64

### Handle columns with more than 5% of missing values

In [109]:
df_cleaned = df_cleaned.copy()

In [110]:
# Engine_power
df_cleaned.loc[:, 'Engine_power'] = df_cleaned.groupby('Genmodel_ID')['Engine_power'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [112]:
# Annual_Tax
df_cleaned.loc[:, 'Annual_Tax'] = df_cleaned.groupby('Genmodel_ID')['Annual_Tax'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [114]:
# Wheelbase
df_cleaned.loc[:, 'Wheelbase'] = df_cleaned.groupby('Genmodel_ID')['Wheelbase'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [116]:
# Height
df_cleaned.loc[:, 'Height'] = df_cleaned.groupby('Genmodel_ID')['Height'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [118]:
# Width
df_cleaned.loc[:, 'Width'] = df_cleaned.groupby('Genmodel_ID')['Width'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [120]:
# Length
df_cleaned.loc[:, 'Length'] = df_cleaned.groupby('Genmodel_ID')['Length'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [122]:
# Average_mpg
df_cleaned.loc[:, 'Average_mpg'] = df_cleaned.groupby('Genmodel_ID')['Average_mpg'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [124]:
# Top_speed
df_cleaned.loc[:, 'Top_speed'] = df_cleaned.groupby('Genmodel_ID')['Top_speed'].transform(
    lambda x: x.fillna(x.dropna().mode()[0] if not x.dropna().empty else x)
)

In [126]:
df_cleaned.apply(lambda x: print(f"Missing value percentage of {x.name} column is: {(x.isna().sum() / len(x)) * 100:.4f}%"))

Missing value percentage of Maker column is: 0.0000%
Missing value percentage of Genmodel column is: 0.0000%
Missing value percentage of Genmodel_ID column is: 0.0000%
Missing value percentage of Adv_year column is: 0.0000%
Missing value percentage of Adv_month column is: 0.0000%
Missing value percentage of Color column is: 0.0000%
Missing value percentage of Reg_year column is: 0.0000%
Missing value percentage of Bodytype column is: 0.0000%
Missing value percentage of Runned_Miles column is: 0.0000%
Missing value percentage of Engin_size column is: 0.0000%
Missing value percentage of Gearbox column is: 0.0000%
Missing value percentage of Fuel_type column is: 0.0000%
Missing value percentage of Price column is: 0.0000%
Missing value percentage of Engine_power column is: 0.5770%
Missing value percentage of Annual_Tax column is: 0.6412%
Missing value percentage of Wheelbase column is: 0.1220%
Missing value percentage of Height column is: 0.1220%
Missing value percentage of Width column is: 0.1274%
Missing value percentage of Length column is: 0.1220%
Missing value percentage of Average_mpg column is: 0.6001%
Missing value percentage of Top_speed column is: 0.6845%
Missing value percentage of Seat_num column is: 0.0000%
Missing value percentage of Door_num column is: 0.0000%

Maker           None
Genmodel        None
Genmodel_ID     None
Adv_year        None
Adv_month       None
Color           None
Reg_year        None
Bodytype        None
Runned_Miles    None
Engin_size      None
Gearbox         None
Fuel_type       None
Price           None
Engine_power    None
Annual_Tax      None
Wheelbase       None
Height          None
Width           None
Length          None
Average_mpg     None
Top_speed       None
Seat_num        None
Door_num        None
dtype: object

In [128]:
df_cleaned_two = remove_rows_with_few_missing_values(df_cleaned)
df_cleaned_two.apply(lambda x: print(f"Missing value percentage of {x.name} column is: {(x.isna().sum() / len(x)) * 100:.4f}%"))

Missing value percentage of Maker column is: 0.0000%
Missing value percentage of Genmodel column is: 0.0000%
Missing value percentage of Genmodel_ID column is: 0.0000%
Missing value percentage of Adv_year column is: 0.0000%
Missing value percentage of Adv_month column is: 0.0000%
Missing value percentage of Color column is: 0.0000%
Missing value percentage of Reg_year column is: 0.0000%
Missing value percentage of Bodytype column is: 0.0000%
Missing value percentage of Runned_Miles column is: 0.0000%
Missing value percentage of Engin_size column is: 0.0000%
Missing value percentage of Gearbox column is: 0.0000%
Missing value percentage of Fuel_type column is: 0.0000%
Missing value percentage of Price column is: 0.0000%
Missing value percentage of Engine_power column is: 0.0000%
Missing value percentage of Annual_Tax column is: 0.0000%
Missing value percentage of Wheelbase column is: 0.0000%
Missing value percentage of Height column is: 0.0000%
Missing value percentage of Width column is: 0.0000%
Missing value percentage of Length column is: 0.0000%
Missing value percentage of Average_mpg column is: 0.0000%
Missing value percentage of Top_speed column is: 0.0000%
Missing value percentage of Seat_num column is: 0.0000%
Missing value percentage of Door_num column is: 0.0000%

Maker           None
Genmodel        None
Genmodel_ID     None
Adv_year        None
Adv_month       None
Color           None
Reg_year        None
Bodytype        None
Runned_Miles    None
Engin_size      None
Gearbox         None
Fuel_type       None
Price           None
Engine_power    None
Annual_Tax      None
Wheelbase       None
Height          None
Width           None
Length          None
Average_mpg     None
Top_speed       None
Seat_num        None
Door_num        None
dtype: object

In [129]:
df_cleaned_two.to_csv('../data/cleaned_dataset.csv', index=False)

## Change data types

In [133]:
df_types = pd.read_csv("../data/cleaned_dataset.csv")
df_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253809 entries, 0 to 253808
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         253809 non-null  object
 1   Genmodel      253809 non-null  object
 2   Genmodel_ID   253809 non-null  object
 3   Adv_year      253809 non-null  int64
 4   Adv_month     253809 non-null  int64
 5   Color         253809 non-null  object
 6   Reg_year      253809 non-null  float64
 7   Bodytype      253809 non-null  object
 8   Runned_Miles  253809 non-null  object
 9   Engin_size    253809 non-null  object
 10  Gearbox       253809 non-null  object
 11  Fuel_type     253809 non-null  object
 12  Price         253809 non-null  float64
 13  Engine_power  253809 non-null  float64
 14  Annual_Tax    253809 non-null  object
 15  Wheelbase     253809 non-null  float64
 16  Height        253809 non-null  float64
 17  Width         253809 non-null  float64
 18  Length        253809 non-null  float64
 19  Average_mpg   253809 non-null  object
 20  Top_speed     253809 non-null  object
 21  Seat_num      253809 non-null  float64
 22  Door_num      253809 non-null  float64
dtypes: float64(9), int64(2), object(12)
memory usage: 44.5+ MB

In [134]:
df_types.isna().sum()

Maker           0
Genmodel        0
Genmodel_ID     0
Adv_year        0
Adv_month       0
Color           0
Reg_year        0
Bodytype        0
Runned_Miles    0
Engin_size      0
Gearbox         0
Fuel_type       0
Price           0
Engine_power    0
Annual_Tax      0
Wheelbase       0
Height          0
Width           0
Length          0
Average_mpg     0
Top_speed       0
Seat_num        0
Door_num        0
dtype: int64

In [135]:
df_types.head()

,Maker,Genmodel,Genmodel_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,10_1,2018,4,Silver,2000.0,Saloon,60000,6.8L,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
1,Bentley,Arnage,10_1,2018,6,Grey,2002.0,Saloon,44000,6.8L,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
2,Bentley,Arnage,10_1,2017,11,Blue,2002.0,Saloon,55000,6.8L,...,400.0,315,3116.0,1515.0,2125.0,5390.0,14.7 mpg,155 mph,5.0,4.0
3,Bentley,Arnage,10_1,2018,4,Green,2003.0,Saloon,14000,6.8L,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
4,Bentley,Arnage,10_1,2017,11,Grey,2003.0,Saloon,61652,6.8L,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0

In [137]:
# Drop Genmodel_ID variable
df_types = df_types.drop(["Genmodel_ID"], axis=1)
df_types.columns

Index(['Maker', 'Genmodel', 'Adv_year', 'Adv_month', 'Color', 'Reg_year',
       'Bodytype', 'Runned_Miles', 'Engin_size', 'Gearbox', 'Fuel_type',
       'Price', 'Engine_power', 'Annual_Tax', 'Wheelbase', 'Height', 'Width',
       'Length', 'Average_mpg', 'Top_speed', 'Seat_num', 'Door_num'],
      dtype='object')

In [152]:
import calendar

# Adv_month
month_dict = {i: calendar.month_name[i] for i in range(1, 13)}
df_types['Adv_month'] = df['Adv_month'].apply(lambda x: month_dict.get(x, x))

df_types["Adv_month"].value_counts()

Adv_month
May          63025
August       48521
April        39512
July         33285
June         23847
March        20921
February      9393
January       5792
December      2839
November      2705
October       2315
September     1651
13               1
17               1
33               1
Name: count, dtype: int64

In [154]:
df_types['Adv_month'] = df['Adv_month'].astype(str)
invalid_values = ['13', '17', '33']
df_types = df_types[~df_types['Adv_month'].isin(invalid_values)]

In [155]:
df_types["Adv_month"].value_counts()

Adv_month
May          63025
August       48521
April        39512
July         33285
June         23847
March        20921
February      9393
January       5792
December      2839
November      2705
October       2315
September     1651
Name: count, dtype: int64

In [159]:
# Reg_year
df_types['Reg_year'] = df_types['Reg_year'].astype(float).astype('Int64')
df_types["Reg_year"].dtype

Int64Dtype()

In [166]:
# Runned_Miles
df_types['Runned_Miles'] = df_types['Runned_Miles'].str.replace(r'\D', '', regex=True)
df_types['Runned_Miles'] = pd.to_numeric(df_types['Runned_Miles'], errors='coerce').astype('Int64')
df_types['Runned_Miles'].dtypes

Int64Dtype()

In [178]:
df_types.head()

,Maker,Genmodel,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,2018,April,Silver,2000,Saloon,60000,6.8L,Automatic,...,450.00,315,3116.00,1515.00,2125.00,5390.00,13.7 mpg,179 mph,5.00,4.00
1,Bentley,Arnage,2018,June,Grey,2002,Saloon,44000,6.8L,Automatic,...,450.00,315,3116.00,1515.00,2125.00,5390.00,13.7 mpg,179 mph,5.00,4.00
2,Bentley,Arnage,2017,November,Blue,2002,Saloon,55000,6.8L,Automatic,...,400.00,315,3116.00,1515.00,2125.00,5390.00,14.7 mpg,155 mph,5.00,4.00
3,Bentley,Arnage,2018,April,Green,2003,Saloon,14000,6.8L,Automatic,...,450.00,315,3116.00,1515.00,2125.00,5390.00,13.7 mpg,179 mph,5.00,4.00
4,Bentley,Arnage,2017,November,Grey,2003,Saloon,61652,6.8L,Automatic,...,450.00,315,3116.00,1515.00,2125.00,5390.00,13.7 mpg,179 mph,5.00,4.00

In [181]:
# Wheelbase
df_types["Wheelbase"] = df_types["Wheelbase"].astype(int)
df_types["Wheelbase"].dtypes

dtype('int64')

In [184]:
# Height
df_types["Height"] = df_types["Height"].astype(int)
df_types["Height"].dtypes

dtype('int64')

In [186]:
# Width
df_types["Width"] = df_types["Width"].astype(int)
df_types["Width"].dtypes

dtype('int64')

In [187]:
# Length
df_types["Length"] = df_types["Length"].astype(int)
df_types["Length"].dtypes

dtype('int64')

In [188]:
# Seat - Door
columns_to_convert = ["Seat_num", "Door_num"]
for column in columns_to_convert:
    df_types[column] = df_types[column].astype(int)
    
for column in columns_to_convert:
    print(f"{column} dtype: {df_types[column].dtypes}")

Seat_num dtype: int64
Door_num dtype: int64

In [ ]:
# Average_mpg
df_types['Average_mpg'] = df_types['Average_mpg'].str.replace(' mpg', '').astype(float)

In [191]:
df_types["Average_mpg"].dtypes

dtype('float64')

In [192]:
# Top_speed
df_types.rename(columns={'Top_speed': 'Top_speed_mph'}, inplace=True)
df_types['Top_speed_mph'] = df_types['Top_speed_mph'].str.replace(' mph', '').astype(float)
df_types['Top_speed_mph'].dtypes

dtype('float64')

## Change variable names

In [193]:
df_types.columns

Index(['Maker', 'Genmodel', 'Adv_year', 'Adv_month', 'Color', 'Reg_year',
       'Bodytype', 'Runned_Miles', 'Engin_size', 'Gearbox', 'Fuel_type',
       'Price', 'Engine_power', 'Annual_Tax', 'Wheelbase', 'Height', 'Width',
       'Length', 'Average_mpg', 'Top_speed_mph', 'Seat_num', 'Door_num'],
      dtype='object')

In [194]:
df_types.rename(columns={"Genmodel": "Model", "Reg_year": "Selling_year", "Runned_Miles": "Mileage", "Engin_size": "Engine_size"}, inplace=True)

In [195]:
df_types.columns

Index(['Maker', 'Model', 'Adv_year', 'Adv_month', 'Color', 'Selling_year',
       'Bodytype', 'Mileage', 'Engine_size', 'Gearbox', 'Fuel_type', 'Price',
       'Engine_power', 'Annual_Tax', 'Wheelbase', 'Height', 'Width', 'Length',
       'Average_mpg', 'Top_speed_mph', 'Seat_num', 'Door_num'],
      dtype='object')

In [196]:
df_types.to_csv('../data/cars.csv', index=False)