In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/Ad_table (extra).csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268255 entries, 0 to 268254
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Maker         268255 non-null  object
 1   Genmodel      268255 non-null  object
 2   Genmodel_ID   268255 non-null  object
 3   Adv_ID        268255 non-null  object
 4   Adv_year      268255 non-null  int64
 5   Adv_month     268255 non-null  int64
 6   Color         246380 non-null  object
 7   Reg_year      268248 non-null  float64
 8   Bodytype      267301 non-null  object
 9   Runned_Miles  267200 non-null  object
 10  Engin_size    266191 non-null  object
 11  Gearbox       268088 non-null  object
 12  Fuel_type     267846 non-null  object
 13  Price         267110 non-null  float64
 14  Engine_power  236444 non-null  float64
 15  Annual_Tax    221580 non-null  object
 16  Wheelbase     240257 non-null  float64
 17  Height        240454 non-null  float64
 18  Width         240175 non-null  float64
 19  Length        240454 non-null  float64
 20  Average_mpg   226322 non-null  object
 21  Top_speed     224653 non-null  object
 22  Seat_num      261781 non-null  float64
 23  Door_num      263702 non-null  float64
dtypes: float64(9), int64(2), object(13)
memory usage: 49.1+ MB

In [7]:
df.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,Engine_power,Annual_Tax,Wheelbase,Height,Width,Length,Average_mpg,Top_speed,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,...,450.0,315,3116.0,1515.0,2125.0,5390.0,13.7 mpg,179 mph,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,...,400.0,315,3116.0,1515.0,2125.0,5390.0,14.7 mpg,155 mph,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,...,NaN,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0